.habilitado {
  font-weight: 700;
  color: #ff0000;
}

.qualificado {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 50px 100px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    width: 300px;
  }

  h1 {
    font-size: 18px;
    font-family: Bookman Old Style;
    font-weight: 700;
    text-align: center;
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #f8f8f8;

    th {
      border: 3px solid #cccccc;
      background: #ff6600;
    }

    th,td {
      font-size: 16px;
      padding: 4px 8px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
    }

    
  }
}